@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title.</h2>

<address>
    <strong>Teradata Apps</strong><br />
        900 East 96th St, Suite 400<br />
        Indianapolis, IN 46240<br />
        <abbr title="Phone">P:</abbr>
        (317) 814-6629
</address>

<address>
    <strong>Bill Albert:</strong> <a href="mailto:bill.albert@teradata.com">bill.albert@teradata.com</a>
</address>