@{
    ViewBag.Title = "Home";
}

<div class="jumbotron">
    <h1>Teradata Innovation Day May 2014</h1>
    <p class="lead">What can SignalR do for you?</p>

</div>

<div class="row">
    <div class="col-md-4">
        <h2>Getting started</h2>
        <p>
            SignalR is an ASP.NET library that provides real-time web functionality by allowing the server to push content to connected clients as it happens.
        </p>
        <p><a class="btn btn-default" href="http://www.asp.net/signalr">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Server Broadcast</h2>
        <p>Communication sent to clients, initiated by the server. <br />Can be used for notifications.</p>
        <p><a class="btn btn-default" href="http://www.asp.net/signalr/overview/signalr-20/getting-started-with-signalr-20/tutorial-server-broadcast-with-signalr-20">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Peer-to-Peer</h2>
        <p>Can be used for things like chat.</p>
        <p><a class="btn btn-default" href="http://www.asp.net/signalr/overview/signalr-20/getting-started-with-signalr-20/tutorial-getting-started-with-signalr-20-and-mvc-5">Learn more &raquo;</a></p>
    </div>
</div>

